/* global variables */
:root {
	--very-dark-blue: hsl(243, 87%, 12%);
	--desaturated-blue: #585989;
	--different-blue: hsl(243, 14%, 43%);
	--bright-blue: hsl(224, 93%, 58%);
	--moderate-cyan: hsl(170, 45%, 43%);
	--light-grayish-blue: hsl(240, 75%, 98%);
	--light-gray: hsl(0, 0%, 75%);
}

/* visually hidden */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/* global styles */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

/* Typography */
html {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	color: var(--very-dark-blue);
}

button,
nav,
h3 {
	font-family: "Raleway", sans-serif;
}
h2 {
	font-weight: 700;
}

h3 {
	font-weight: 700;
}

a {
	font-size: 0.75rem;
	text-decoration: none;
}

p {
	font-size: 0.88rem;
	line-height: 21px;
}

/* section styles */
body {
	min-height: 100vh;
}

/* header styles */
header {
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo {
	width: 5rem;
}

nav.primary a {
	padding-left: 1.5rem;
}
/* main section styles */
main {
	/* padding: 2rem 1.75rem; */

	text-align: center;
}

/* hero section styles */

.hero img {
	margin-bottom: 1rem;
}

.hero h2 {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1.5rem 0;
	line-height: 1.5;
}

input,
button {
	width: 87%;
	margin: 0 auto;
	padding: 0.7rem;
}

button {
	color: white;
	background-color: var(--bright-blue);
	border: 2px solid var(--bright-blue);
	outline: none;
}
/* location section styles */
h2.location {
	font-weight: 700;
}
p.location {
	padding: 0.5rem 0.5rem 1rem 0.5rem;
}

/* email form styles */
p.error {
	font-size: 0.75rem;
	padding-left: 1.8%;
	text-align: left;
	color: red;
}

/* testimonial section styles */
section.testimonial {
	margin-top: 7.5rem;
	background-color: var(--light-grayish-blue);
}
.testimonial .img-container {
	padding: 4rem 0;
}

.testimonial h3 {
	padding: 1.5rem 0;
}

.see-how {
	padding-top: 1rem;
}

p.productivity {
	color: var(--desaturated-blue);

	padding-bottom: 1rem;
}

.testimonial a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--moderate-cyan);
	padding-bottom: 0.25rem;
	border-bottom: 1px solid;
}

.arrow {
	padding-left: 0.5rem;
}

blockquote {
	background-color: white;
	margin: 2rem 3rem;
	padding: 1.5rem 1.3rem 2rem 1.3rem;
	text-align: left;
	line-height: 18px;
}

.quote {
	font-size: 0.625rem;
	padding-bottom: 1rem;
}

.author {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 1rem;
}

.author-name h2 {
	font-size: 9px;
	line-height: 12px;
}
.author-name p {
	font-size: 6px;
	line-height: 11.5px;
}
.author img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.cta {
	color: white;
	background-color: var(--desaturated-blue);
	padding: 3rem 3rem 4rem 3rem;
}

.cta h3 {
	padding: 0.4rem 0;
	font-size: 1.125rem;
}

.cta p {
}

/* attribution styles */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
