/* global variables */
:root {
	--very-dark-blue: hsl(243, 87%, 12%);
	--desaturated-blue: hsl(238, 22%, 44%);
	--bright-blue: hsl(224, 93%, 58%);
	--moderate-cyan: hsl(170, 45%, 43%);
	--light-grayish-blue: hsl(240, 75%, 98%);
	--light-gray: hsl(0, 0%, 75%);
}

/* visually hidden */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/* global styles */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Typography */
html {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	color: var(--very-dark-blue);
}

button,
nav {
	font-family: "Raleway", sans-serif;
}
h2 {
	font-weight: 700;
}
img {
	max-width: 100%;
	height: auto;
}

/* section styles */
body {
	min-height: 100vh;
}

/* header styles */
header {
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo {
	width: 5rem;
}

nav.primary {
	font-size: 0.75rem;
}
nav.primary a {
	text-decoration: none;
	padding-left: 1.5rem;
}
/* main section styles */
main {
	margin: 2rem 1.75rem;

	text-align: center;
}

/* hero section styles */

.hero img {
	margin-bottom: 1rem;
}

.hero h2 {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1.5rem 0;
	line-height: 1.5;
}

.hero p {
	line-height: 21px;
	font-size: 0.9rem;
}

input,
button {
	width: 87%;
	padding: 0.7rem;
}

button {
	color: white;
	background-color: var(--bright-blue);
	border: 2px solid var(--bright-blue);
	outline: none;
}
/* location section styles */
h2.location {
	font-weight: 700;
}
p.location {
	padding: 0.5rem 0.5rem 1rem 0.5rem;
}

/* email form styles */
p.error {
	font-size: 0.75rem;
	padding-left: 1.8%;
	text-align: left;
	color: red;
}
/* attribution styles */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
